
/* Variables */

$wc-color-gray: #A9A9A9;
$wc-color-yellow: #FFFF00;

/* Body */ 

body { 
background-color: $wc-color-gray;
}

h1 h2 h3 h4 h5 h6 {
	font-family: 'Roboto', sans-serif;
}

/* Navbar */ 

.navbar {
	&.navbar-light {
		.navbar-nav {
			.nav-link {
				color: wc-color-gray;
				&active {
					color: wc-color-yellow;
				}
			}
		}
	}
}
